---
import Layout from '../layouts/Layout.astro'
const title = 'Accessible Dropdown'
---

<Layout {title}>
  <header>
    <h1>{title}</h1>
  </header>
  <main>
    <p>This will become a dropdown menu.</p>
  </main>
</Layout>
